.NavBar {
    background-color: rgb(255, 255, 253);
    border: 1px solid gray;
}

  .NavLink {
    padding: 8px;
  }
  
  .Active i {
    transform: rotate(-15deg) scale(1.1);
    color: var(--grey);
  }
  
  .NavbarToggle {
    border: none !important;
  }
  
  .Dropdown:active {
    background-color: var(--light) !important;
  }

  i{
    color: rgb(4, 37, 40);
  }
  
  a:hover i {
    color: grey;
    transition: color ease-in-out 0.3s;
    transform: rotate(-15deg) scale(1.1);
  }
  
  a::after {
    display: none !important;
  }
  