.App {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.Main {
    padding-top: 100px;
    margin: auto;
}

.Content {
    background-color: #fcfdfc;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 5px #dadadf;
  }
  
* {
    box-sizing: border-box;
}
  
a {
    color: #555555;
    transition: color ease-in-out 0.3s;
}
  
a:hover {
    text-decoration: none;
}
  
a:hover i {
    color: #000410;
    transition: color ease-in-out 0.3s;
}
  
i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #01040f;
}

.Form {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid white;
  }



