.App {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.Main {
    padding-top: 80px;
}
  
* {
    box-sizing: border-box;
}
  
a {
    color: #555555;
    transition: color ease-in-out 0.3s;
}
  
a:hover {
    text-decoration: none;
}
  
a:hover i {
    color: #000410;
    transition: color ease-in-out 0.3s;
}
  
i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #01040f;
}

.Form {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid white;
  }

.Button {
    border-color: transparent;
    font-size: 0.8rem;
    padding: 4px 9px;
    margin-left: 2px;
    min-width: 70px;
    background-color: var(--white);
    border: none;
    box-shadow: 0px 3px 5px 2px rgb(196, 216, 213);
    font-weight: bold;
    color: var(--dark-slate-grey);
    cursor: pointer;
    border-radius: 100px;
    margin: 5px;
  }

.Button:hover,
.Button:focus {
  background-color: var(--light) !important;
  color: var(--dark-slate-grey) !important;
  box-shadow: 5px 5px 5px var(--dark) !important;
  border-color: var(--dark) !important;
}

.Link {
    text-decoration: none;
    display: block;
    margin: 2rem;
  }

.Link span {
    color: #e81067;
}

.Line {
    width: 200px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px rgb(217, 237, 234);
  }